body {
  background-color: #476555;
  font-family: 'Nunito', sans-serif;
}
#backgroundimage {
  background: url('http://images.8tracks.com/cover/i/009/400/882/Evergreen_Forest_Background_by_StoicLewy-309.jpg?rect=183,0,560,560&q=98&fm=jpg&fit=max') no-repeat 50% 50% fixed;
  background-size: cover;
}

img {
  padding-top: 100px;
}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  max-height: 300px;
  width: auto;
  height: auto;
  padding-top: 80px;
  padding-bottom: 20px;
  opacity: .6;
}

main {
  padding-top: 0px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 180px;
  margin-right: 180px;
}

h1 {
  text-align: center;
  color: #741D16;
  font-size: 50px;
  padding-top: 0px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Shadows Into Light', cursive;
}

h3 {
  text-align: center;
  color: #741D16;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: #741D16;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;

}

table {
  margin-top: 1em;
}

th, td {
  padding:0.3em;
}

ul {
    width: 57%;
    margin: auto;
}
